div.admonition.important {
    border-left-width: 0.4rem;
    box-shadow: 0 0.2rem 0.5rem rgb(0 0 0 / 10%), 0 0 0.0625rem rgb(0 0 0 / 20%);
}
div.sidebar {font-size: smaller;}
.highlight {background-color: #fffff8; border: 1px solid #999;}

.highlight .hll {background-color: #e7f5ff;}
